<%= form_for [:admin, @product] do |f| %>

  <div class="row">
    <div class="col-xs-6">
    <%= f.label :name, "Názov Produktu" %>
    <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  </br>

  <div class="row">
    <div class="col-xs-2">
    <%= f.label :price, "Cena" %>
    <%= f.text_field :price, class: "form-control" %>
    </div>
  </div>
  </br>

  <div class="row">
    <div class="col-xs-6">
      <%= f.label :description, "Popis produktu" %>
      <%= f.text_area :description, class: "form-control", rows: "10" %>
    </div> 
  </div>   
  </br>

  <div class="row">
    <div class="col-xs-6">
      <%= f.label :image_url, "Popis obrázku" %>
      <%= f.text_field :image_url, class: "form-control" %>
    </div>  
  </div>
  </br>

  <%= f.submit "Uložiť produkt", class: "btn btn-primary" %>

<% end %>